

html, body{
    background-color: #000;
}

body, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
}

a {
    text-decoration: none;
}
@font-face {
    font-family: 'Geomanist-Black';
    src: url('Geomanist-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-Bold';
    src: url('Geomanist-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-ExtraLight';
    src: url('Geomanist-ExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-Book';
    src: url('Geomanist-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-Light';
    src: url('Geomanist-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-Regular';
    src: url('Geomanist-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist-Medium';
    src: url('Geomanist-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}





.child{
    opacity: 0;
}
.fbContainer svg{
    width:32px;
    height:31px;
    fill:#2de9a1;
    -webkit-transition: all 2ms;
    transition: all 2ms;
    float: right;
}
.fbContainer svg path,
.fbContainer svg rect{

    fill:#2de9a1;
    -webkit-transition:fill 0.5s ease;
    transition:fill 0.5s ease;

}
.fbContainer div{
    margin-left:9px;
    margin-top:10px;
}
.svg_social{
    pointer-events: bounding-box;
}
.fbContainer svg path:hover,
.fbContainer svg rect:hover{
    fill:#fff;
    cursor: pointer;
}
/***************************************/
/* PRELOADER */
/*_____________________________________*/

.overviewLogoPreloader {
    width: 45px;
    height: 45px;
    background: url(/assets/eye_still.svg) 0 0 no-repeat;
    background-size: cover;
    position: relative;
    top: -43px;
    right: 2px;
    z-index: -1;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
}

.preloader_container {
    margin-left: 50%;
}



#preloader {
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: -20px;

 }
.postloaderwrapper{

}

.preloaderwrapper{
    top: 50%;
    left: 50%;
    margin-top: -20px;
}

.textLeft{
    text-align: left!important;
}

span.green{
    color: #2de9a1;
    font-family: Geomanist-Bold;
}

html, body {
    height:100%;
    margin:0;
    color: #ffffff;
    font-size: 10px;
}

.green-border {
    position:relative;
    height:50px;
    text-align: center;
    padding-top: 20px;

}
.green-border p{
    font-family: Geomanist-Regular;
    letter-spacing: 1.5px;
}

.green-border:before, .green-border:after, .green-border>:first-child:before, .green-border>:first-child:after {
    position:absolute;
    width:15px;
    height: 15px;
    border-color:#ffffff; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}
.green-border:before {top:0;left:0;border-width: 1px 0 0 1px}
.green-border:after {top:0;right:0;border-width: 1px 1px 0 0}
.green-border>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
.green-border>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}

.flt-r{
    float: right;
}

.flt-l{
    float: left;
}
.new_shit{
    letter-spacing: 1px;
    font-family: Geomanist-Light;
    padding-left: 10px;
    letter-spacing: 5px;
    padding-right: 14px;
}

.coming{
    letter-spacing: 7px;
    font-family: Geomanist-Regular;
    color: #2de9a1;
}

.line_caps{
    line-height: 13px;
    padding-top: 6px;
}

.clr-pad{
    padding-left: 0;
    padding-right: 0;
}

.clr-pad-l{
    padding-left: 0;
}

.email-container{
    padding-left: 0;
    padding-right: 0;
}


.clr-pad-r{
    padding-right: 0;
}
.move-left{
    margin-left: -18px;
}
.move-right{
    margin-right: -25px;
}
.move-right p {
    float: right;
}

.bold{
    font-family: Geomanist-Bold;
}


.child {
    /*width: 1100px;*/
    /*height: 600px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/

    /*margin: -300px 0 0 -558px;*/
}
.contacts{
    padding-top: 65px;
}

.contact-container{
    width: 200px;
}

.shake-little{display:inline-block;transform-origin:center center}.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-little:hover,.shake-trigger:hover .shake-little{animation-play-state:running}@keyframes shake-little{2%{transform:translate(1px, 0px) rotate(0.5deg)}4%{transform:translate(0px, 0px) rotate(0.5deg)}6%{transform:translate(0px, 1px) rotate(0.5deg)}8%{transform:translate(1px, 0px) rotate(0.5deg)}10%{transform:translate(0px, 1px) rotate(0.5deg)}12%{transform:translate(0px, 0px) rotate(0.5deg)}14%{transform:translate(0px, 1px) rotate(0.5deg)}16%{transform:translate(0px, 0px) rotate(0.5deg)}18%{transform:translate(0px, 1px) rotate(0.5deg)}20%{transform:translate(0px, 1px) rotate(0.5deg)}22%{transform:translate(0px, 1px) rotate(0.5deg)}24%{transform:translate(0px, 0px) rotate(0.5deg)}26%{transform:translate(1px, 0px) rotate(0.5deg)}28%{transform:translate(0px, 1px) rotate(0.5deg)}30%{transform:translate(1px, 0px) rotate(0.5deg)}32%{transform:translate(1px, 0px) rotate(0.5deg)}34%{transform:translate(1px, 1px) rotate(0.5deg)}36%{transform:translate(0px, 0px) rotate(0.5deg)}38%{transform:translate(1px, 1px) rotate(0.5deg)}40%{transform:translate(1px, 1px) rotate(0.5deg)}42%{transform:translate(0px, 0px) rotate(0.5deg)}44%{transform:translate(1px, 1px) rotate(0.5deg)}46%{transform:translate(1px, 1px) rotate(0.5deg)}48%{transform:translate(1px, 0px) rotate(0.5deg)}50%{transform:translate(1px, 0px) rotate(0.5deg)}52%{transform:translate(0px, 0px) rotate(0.5deg)}54%{transform:translate(1px, 0px) rotate(0.5deg)}56%{transform:translate(1px, 0px) rotate(0.5deg)}58%{transform:translate(1px, 1px) rotate(0.5deg)}60%{transform:translate(1px, 1px) rotate(0.5deg)}62%{transform:translate(0px, 1px) rotate(0.5deg)}64%{transform:translate(1px, 0px) rotate(0.5deg)}66%{transform:translate(0px, 1px) rotate(0.5deg)}68%{transform:translate(0px, 1px) rotate(0.5deg)}70%{transform:translate(1px, 1px) rotate(0.5deg)}72%{transform:translate(1px, 0px) rotate(0.5deg)}74%{transform:translate(1px, 0px) rotate(0.5deg)}76%{transform:translate(1px, 1px) rotate(0.5deg)}78%{transform:translate(1px, 1px) rotate(0.5deg)}80%{transform:translate(1px, 1px) rotate(0.5deg)}82%{transform:translate(0px, 0px) rotate(0.5deg)}84%{transform:translate(0px, 0px) rotate(0.5deg)}86%{transform:translate(1px, 1px) rotate(0.5deg)}88%{transform:translate(1px, 1px) rotate(0.5deg)}90%{transform:translate(0px, 0px) rotate(0.5deg)}92%{transform:translate(1px, 0px) rotate(0.5deg)}94%{transform:translate(0px, 1px) rotate(0.5deg)}96%{transform:translate(1px, 0px) rotate(0.5deg)}98%{transform:translate(1px, 1px) rotate(0.5deg)}0%,100%{transform:translate(0, 0) rotate(0)}}.shake-little:hover,.shake-trigger:hover .shake-little,.shake-little.shake-freeze,.shake-little.shake-constant{animation:shake-little 100ms ease-in-out infinite}




div.eyes {
    width: 30px;
    height: 30px;
    margin: 0 auto;

    margin-bottom: 40px;
}

div.left_eye,
div.right_eye {
    width: 30px;
    height: 30px;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
}

div.left_eye {
    left: 0;
}

div.right_eye {
    right: 0;
}

div.eyes div.pupil {
    left: 17px;
    top: 17px;
    width: 12.5px;
    height: 12.5px;
    position: relative;
    background-image: url("../assets/pupile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12.5px;
}

.eye_container{
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -24px;
    margin-right: -7px;
}

.logo{
    /*margin-left: -26px;*/
}

.nudge-down p{
    margin-top: 6px;
}


a{
    color: #ffffff;
    text-underline: none;
}

a:hover{
    color: #ffffff;
    text-underline: none;
    text-decoration: none;
}

a:visited{
color: #ffffff;
}

@media (max-width: 480px) {
    .move-left {
        margin-left: 13px;
        margin-top: -11px;
    }
}

@media (max-width: 768px){

    .email-container{

        padding-right: 20px;
    }

    body{padding-top: 20%}
}


    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px){}


        @media (min-width: 1200px){}

            @media (min-width: 990px) and (max-width: 1107px){}